body {
    font-family: Arial, sans-serif;
    display: flexbox;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
}

.container {
    text-align: center;
    align-items: center;
}
#countdown {
    font-size: 2em;
    margin-top: 20px;
    color: red;
}
.container h1{
    font-size: 2em;
}
.ricksha{
    justify-content: center;
}
#pakoda{
    display: none;
}
.QR{
    display: block;
   margin-left: 45%;
   margin-right: 55%;  
}

#Mausi{
    
    background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 2%;
}

#Mausi:hover,
#Mausi:focus {
  background-color: #F082AC;
}
