body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
    color: red;
}

.container h1{
    font-size: 2em;
}